<div *ngIf="cartproducts.length > 1" class="m-5 card">
    <div class="card-header">
        <h4>Cart Summary</h4>
        <div class="m-4 card " style="width: 90%;">
            <div class="card-body">
                <table class="table">
                    <thead bgcolor="0BB2F2">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of cartproducts; index as i">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price*item.quantity}}</td>                 
                      </tr>
                    </tbody>
                  </table>
                  
                
    </div></div>
    </div></div>