<div *ngIf="1 > products.length" class="mt-5 pt-5">
    <div class="d-flex justify-content-center">
    <img src="https://www.kalpamritmarketing.com/design_img/no-product-found.jpg"
      alt="Cart Empty">
  </div>
  <h2 class="d-flex justify-content-center">Please come back later.</h2>
</div>


<div class="container mt-2 mb-5">
  <div class="row">
    <!-- <div *ngFor="let item of products"></div> -->
    <div *ngFor="let item of products" class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block mt-2">
        <!-- <h4 class="card-title text-right"><i class="material-icons">settings</i></h4> -->
        <img src={{item.imgurl}} alt="Item Photo">
        <h5 class="item-card-title mt-3 mb-3 d-flex justify-content-center">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p class="card-text"><b>Price: {{item.price}}</b></p>
        <button (click)="addtoCart(item)" class="mb-3 ml-3 mr-3 btn btn-primary btn-lg">Add to Cart</button>
      
      </div>
    </div>
  </div>